@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #f8f9fa;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.navbarItem {
  position: relative;
}

.navbarItem:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  transform: translate(-15%, 15%);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 100%;
}

a {
  display: inline-flex;
  align-items: center;
}

li {
  display: inline-flex;
  align-items: center;
  gap: 2px;
  color: #868e96;
  cursor: pointer;
}

li.selected {
  text-decoration: underline;
  text-underline-offset: 10px;
  color: black;
}

.dropdown {
  position: absolute;
  right: 0;
  top: 100%;
  margin-top: 1rem;
}

.dropdown > div {
  background-color: white;
  z-index: 10;
  width: 180px;
  text-align: left;
  padding: 12px;
  padding-left: 20px;
  padding-right: 20px;
}

.dropdown > div:hover {
  color: #235347;
  background-color: rgb(239, 239, 239);
}

/* 글 작성 페이지 스타일 */

.writeWrapper {
  height: 100vh;
}

.mdWriter {
  width: 50vw;
  background-color: white;
}

.mdWriter input {
  outline: none;
}

.mdWriter .writeTools button {
  padding: 5px;
}

.mdPreview {
  width: 50vw;
  /* background-color: white; */
}

.writeFooter {
  font-size: 1.1em;
  box-shadow: 0 -2px 4px #e0e1e2;
}

.writeFooter button {
  padding: 10px 20px;
}
