@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* background-color: #f8f9fa; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.navbarItem {
  position: relative;
}

.navbarItem:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  transform: translate(-15%, 15%);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 100%;
}

a {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

li {
  display: inline-flex;
  align-items: center;
  gap: 2px;
  color: #868e96;
  cursor: pointer;
}

.dropdown {
  z-index: 20;
  position: absolute;
  right: 0;
  top: 100%;
  margin-top: 1rem;
}

.dropdown > a,
.dropdown > div {
  background-color: white;
  z-index: 10;
  width: 180px;
  text-align: left;
  padding: 12px;
  padding-left: 20px;
  padding-right: 20px;
}

.dropdown > div:hover {
  color: #235347;
  background-color: rgb(239, 239, 239);
}

/* 메인 페이지 스타일 */

.selecter {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);
}

.filterWrapper {
  position: relative;
  height: 48px;
  user-select: none;
  gap: 3px;
}

.underbar {
  background-color: black;
  height: 2px;
  width: 33.3%;
  position: absolute;
  bottom: 0;
  transform: translateX(calc(var(--selectedFilter) * 100% + var(--selectedFilter) * 3px));
  transition: 0.25s ease-out;
}

.filterWrapper li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-wrap: nowrap;
  width: 80px;
  font-size: 18px;
}

li.selected {
  color: black;
}

.article-grid {
  display: grid;
  grid-gap: 32px;
  padding: 0;
  margin: 0;
  --card-count: 5;
  --spacer: calc(var(--card-count) - 1);
  --width: 20%;
  grid-template-columns: repeat(
    var(--card-count),
    calc(var(--width) - (32px * var(--spacer) / var(--card-count)))
  );

  @media screen and (max-width: 1919px) {
    --card-count: 4;
    --width: 25%;
  }

  @media screen and (max-width: 1440px) {
    --card-count: 3;
    --width: 33.33%;
  }

  @media screen and (max-width: 1056px) {
    --card-count: 2;
    --width: 50%;
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(1, 100%);
    grid-gap: 16px;
  }
}

.article-preview {
  height: 378px;
}

/* 글 작성 페이지 스타일 */

.writeWrapper {
  height: 100vh;
}

.mdWriter {
  flex-grow: 1;
  background-color: white;
}

.mdWriter input,
textarea {
  outline: none;
}

.mdWriter .writeTools button {
  padding: 5px;
  color: #868e96;
  width: 2.5em;
  height: 2.5em;
  font-size: 1.15rem;

  @media (max-width: 767px) {
    width: 2rem;
    height: 2rem;
    font-size: 0.95rem;
  }
}

.contentArea {
  overflow-y: scroll !important;
}

.mdPreview {
  flex-grow: 1;
}

.writeFooter {
  font-size: 1.1em;
  box-shadow: 0 -2px 4px #e0e1e2;
}

.writeFooter button {
  padding: 10px 20px;
}

.uploadConfirmWrapper {
  width: 768px;
}

.separate-line {
  width: 1px;
  min-height: 425px;
  background-color: #e9ecef;
  margin-left: 2rem;
  margin-right: 2rem;
}

.animation-earthquakes:hover {
  animation-name: earthquakes;
  animation-iteration-count: infinite;
  animation-delay: 0.05s;
  animation-duration: 1s;
  animation-direction: alternate;
}

.animation-up {
  animation-name: up;
  animation-iteration-count: 1;
  animation-duration: 0.3s;
  transition: 0.3s;
}

@keyframes up {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes earthquakes {
  0% {
    transform: rotate(3deg);
  }

  50% {
    transform: rotate(-3deg);
  }

  100% {
    transform: rotate(3deg);
  }
}

/* 설정 페이지 스타일 */

.settingDetail > div {
  display: flex;
  flex-direction: column;
  gap: 1.25em;
  border-top: 1px solid #f1f3f5;
  padding-top: 16px;
}

.settingDetail > div:first-of-type {
  border: 0;
}

.settingDetail > div > div {
  display: flex;
}

.settingDetail > div > p {
  font-size: 0.8em;
  color: gray;
}

.settingDetail > div > div > span {
  width: 9rem;
  flex-shrink: 0;
}

.settingDetail > div > div > div {
  flex-grow: 1;
}

.settingDetail > div > div > div {
  display: inline-flex;
  gap: 20px;
}

.settingDetail > div > div > div > span {
  flex-grow: 1;
}

/* 임시저장 페이지 스타일 */
.save-article-preview {
  padding: 10px 0px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e7e7e7;
}

.save-article-preview:last-of-type {
  border: 0;
}

/* 로그인 모달 스타일 */

.glass {
  width: 640px;
  height: 530px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  backdrop-filter: blur(150px);
  -webkit-backdrop-filter: blur(150px);

  @media (max-width: 640px) {
    width: 100vw;
    height: 100vh;

    &.glass > div:first-of-type {
      width: 0;
    }

    &.glass > div:last-of-type {
      width: 100%;
    }
  }
}

.glass > div:first-of-type {
  width: 36%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #235347;
  font-size: 2em;
  font-weight: bold;
  gap: 0.75em;
}

.glass > div:last-of-type {
  color: white;
  background-color: rgb(56, 111, 92);
  width: 64%;
  padding: 1.25em;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.glass .socialWrapper {
  display: inline-flex;
  width: 100%;
  justify-content: space-around;
}

.glass .socialWrapper button {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  overflow: hidden;
  padding: 0.85em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glass .socialWrapper button:nth-of-type(1) {
  background-color: black;
}
.glass .socialWrapper button:nth-of-type(2) {
  background-color: white;
}
.glass .socialWrapper button:nth-of-type(3) {
  background-color: rgb(59, 89, 152);
}

.glass .register {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
  text-align: right;
  color: rgb(168, 212, 197);
}

.glass p {
  font-size: 0.95em;
  color: #cbd3dc;
}

.glass {
  animation: modal 0.3s ease-out;
  transform-origin: left bottom;
}

@keyframes modal {
  0% {
    opacity: 0;
    transform: scale(0.8) translate(-50%, -50%);
    top: calc(50% + 50px);
  }

  80% {
    top: calc(50% - 10px);
    transform: scale(1) translate(-50%, -50%);
  }

  100% {
    opacity: 0.95;
    top: 50%;
    transform: scale(1) translate(-50%, -50%);
  }
}

.text-shadow {
  text-shadow: 5px 10px 0px #d0d9d6;
}

.shadow-custom {
  width: 160px;
  height: 10px;
  background: lightgray;
  border-radius: 100%;
  margin-top: -30px;
}

/* 글 세부 조회 스타일 */
.authorOptionsWrapper {
  display: inline-flex;
  justify-content: right;
  gap: 5px;
  color: gray;
}

.postInfoWrapper {
  display: flex;
  justify-content: space-between;
}

.postInfoWrapper > span:first-of-type {
  font-weight: bold;
}

.postInfoWrapper > button {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  border-radius: 4em;
  padding: 0 10px;
}

.tagsWrapper {
  display: inline-flex;
  gap: 6px;
}

.tagsWrapper > div {
  padding: 0px 16px;
  color: #12b886;
  background-color: #f8f9fa;
  border-radius: 1rem;
}

.seriesWrapper {
  padding: 2rem 1.5rem;
  margin-top: 2em;
  background-color: #f8f9fa;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 4px 0px;
  border-radius: 8px;
}

/* 공통 요소 */

.whiteBtn {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  border: none;
  background: white;
  color: #12b886;
  border-radius: 4px;
  padding: 0px 1.25rem;
  font-size: 1rem;
}

.whiteBtn:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.greenBtn {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  border: none;
  background: #12b886;
  color: white;
  border-radius: 4px;
  padding: 0px 1.25rem;
  font-size: 1rem;
}

.greenBtn:hover {
  background-color: #20c997;
}

/* 반응형 */

@media screen and (min-width: 1920px) {
  .navbar {
    max-width: 1728px;
  }
  .mainpage {
    max-width: 1728px;
  }
}

@media screen and (max-width: 1919px) {
  .navbar {
    max-width: 1376px;
  }
  .mainpage {
    max-width: 1376px;
  }
}

@media screen and (max-width: 1440px) {
  .navbar {
    max-width: 1024px;
  }
  .mainpage {
    max-width: 1024px;
  }
}

@media screen and (max-width: 1056px) {
  .navbar {
    max-width: 1024px;
  }
  .mainpage {
    max-width: 1024px;
  }
  .article-preview {
    height: 400px;
  }
}

@media screen and (max-width: 768px) {
  .article-preview {
    aspect-ratio: 649/588;
  }
}
